<head>
	<link rel="stylesheet" href="./style/lecture.css">
	 
<meta charset="UTF-8">

</head>
<body>
<div id='head-title'>
	<h1>PHP style</h1>
</div>
With everything that’s happening about the Coronavirus, it might be very hard to make a decision of what to do today. Should you wait for more information? Do something today? What?

Here’s what I’m going to cover in this article, with lots of charts, data and models with plenty of sources:
<h2>commencement</h2>
prèrequis avoir :
<ul>
	<li>php</li>
	<li>nginx</li>
</ul>

<h2>parametrage</h2>
<h3>server</h3>
<pre class="codeblock">
<&#63;php
	echo "hello";
?>
</pre>
<body>
