
/* formulaire dans le quel on place la barre de recherche*/

#form-search
{
    width:50%;
    margin:auto;
    margin-top: 10%;
}

/* div qui encadre la barre et la loupe */
#search-bar
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 20px;
    box-shadow: 0px 0px 1px #444444 ;
    padding: 1px;
}

/*bouton dans lequel on a la div contenant la loupe */
#btn-loupe
{
    background: #2aa3b7;
    border: 1px solid grey;
    cursor: pointer;
    width:8%;
    border:none;
    border-radius: 20px;
    margin-right: 0.5%;
    z-index: 5;
}

#loupe-container img
{
    display:block;
    width:100%;
    height:100%;
    z-index: 10;
}

#input
{
    padding-left: 3%;
    border:none;
    border-radius: 20px;
    width:95%;
}

#input:focus
{
    outline: none;
}

/* bloc des cours*/
#bloc-des-cours
{
    margin-top: 5%;
    margin-left: 10%;
    display:flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

/* blocs de cours*/
.bloc-cours
{
    width:20%;
    margin: 1%;
    margin-bottom: 2%;
    font-size: 2em;
}

.lien-cours
{
}

.course-title
{
    color:black;
    margin-left:5%;
    margin-bottom: 2%;
}

.course-thumbnail
{
}

/* h2 topics */
#topics
{
    font-size: 3em;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
}

/* h2 courses */
#courses
{
    font-size: 3em;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
    
}