@font-face {
    font-family: 'Georgia'; 
    src: url('/assets/fonts/Georgia.ttf');
}
@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
	font-family: 'Georgia';
	margin-left: 20%;
	width:50%;
	min-width: 450px;
	font-size: 21px; 
	text-rendering: optimizeLegibility;
}

a {
	color: black;
}

#head-title {
	text-align : center;
	border-bottom-style: ridge;
	margin-bottom: 30px;
}

h1,h2 {
	font-family: helvetica;
}

code {
	font-size: 17px;
	background-color: grey;
	padding-left:5px;
	padding-right:5px;
}

table {
	border-collapse: collapse;
	border: 1px hidden black;
}
table td {
  border: 1px solid black;
}

.codeblock {
	background-color: #1c1c1c;
	color : white;
	
}
img {
	height:auto;
	width:100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.article {
	margin-top: 50px;

}

.modif
{
	position: absolute;
	margin-left:50%;
	margin-top:5%;
}

.modif:hover
{
	text-decoration: none;
}

#author
{
	margin-top:10%;
	margin-bottom:10%;
	margin-left:80%;
	color:gray;
} 

#uform
{
	display:flex;
	align-items: center;
}

#fileToUpload
{
	margin-left: 2%;
}

#titre-write
{
	margin-top:10%;
	margin-left: 2%;
}

textarea
{
	margin-top: 2%;
	margin-bottom: 2%;
}

#indications
{
	margin-top:5%;
	font-size: 0.6em;
	margin-bottom: 2%;
	color: gray;
}

.div-bloc-question
{
	margin-top:5%;
	margin-bottom:5%;
	padding: 2%;
	border: solid 0.5px  #004d5a;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #004d5a;
}

.titre-question
{
	margin-top:2%;
	margin-bottom:2%;
}

.bloc-questions
{
	display:flex;
	margin-top:2%;
	margin-bottom:2%;
}

.question input
{
	width:80%;
}

.response
{
	width:20%;
	margin-left:2%;
	margin-right:2%;
	display:block;
}

.response input
{
	width:100%;
}

.V
{
	margin-left: 1%;
	margin-top:3%;
}

.V input
{
	margin-left: 1%;
	width: 4%;
}

#add-question
{	
	margin-left:5%;
}

#add-question:hover
{
	cursor: pointer;
}