h1
{
    font-size: 3em;
    margin-top:12%;
    margin-left:5%;
    margin-bottom:2%;
}


/* bloc des tags*/
#bloc-des-tags
{
    margin-bottom: 5%;
}

/* blocs de tag*/
.bloc-tag
{
    font-size: 2em;
    width:80%;
    margin-left: 1%;
}

.bloc-tag:hover
{
    text-decoration: none;
}