#englobe-tag {
	height : 25px;
	width : auto;
	display : flex;
	margin-top:10px;
}
.bloc {
	height: 25px;
	width: max-content;
	background-color:#2aa3b7;
	padding-right: 5px;
	padding-left: 5px;
	position:relative;
	font-family : arial;
}

#englobe-tag a {
	color:white;
}

#tree-tag{
	background-color: #2aa3b7;
	width:auto;
	height:25px;
	position:absolute;
	right:20%;
	top : 10px;
	color:white;
}

.shift-r {
	animation-duration: 0.7s;
  	animation-name: shift-anim-grow;
	background-color:#2aa3b7;
	clip-path: polygon(0px 0px,70% 50%,0px 100%);
	/*width: 30px;*/
	height:25px;
	/*margin-right: -25px;*/
	vertical-align: text-bottom; 
	border-left: 1px solid #2aa3b7;
	box-sizing: content-box;
}



.shift-l {
	/*animation-duration: 0.7s;*/
  	/*animation-name: shift-anim-grow;*/
	background-color:#2aa3b7;
	clip-path: polygon(0px 0px, 70% 50%,0px 100%,100% 100%,100% 0px);
	/*width: 30px;*/
	height:25px;
	margin-right: 0px;
	margin-left: 0px;
	vertical-align: text-bottom; 
	border-right: 1px solid #2aa3b7;
}

.dead-r {
	width: 0px;
	transition-duration: 0.7s;
	margin-right: 10px;
}

.grow-r {
	width: 15px;
	transition-duration: 0.7s;
	margin-right: -25px;
}

.dead-l {
	width: 0px;
	transition-duration: 0.7s;
}

.grow-l {
	width: 15px;
	transition-duration: 0.7s;
	margin-left: 10px;
}




