

/*-----------------header-------------------*/




/* top bar */

.bar{
  height: 10px;
  width: 100%;
  margin-top: 0px;
  padding-top : 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}



/* logo (top left corner) */

.logo{
  width: 10%;
  height: auto;
  position: fixed;
  top: 35px;
  left: 30px;
  z-index: 1000;
}



/* user button (top right corner) */

.rond{
  height: 50px;
  width: 50px;
  padding: 0px;
  border-radius: 50%;
  outline: none;
}

.rond:focus
{
  outline: none;
}

.rond:target
{
  outline: none;
}

.rond:active
{
  outline: none;
}

.rond:hover
{
  box-shadow: 0px 0px 10px #333333;
}


/* user pannel wrapper (including the round user icon)*/

#user
{
  width:12%;
  position: fixed;
  top: 40px;
  right: 30px;
  z-index: 1000;
  margin: 0px;
  display:flex;
  flex-direction:column;
}


/* user pannel when clicked */

.user-pannel-active
{
  margin-top: 10%;
  margin-left: 5%;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 0px 2px #333333;
  border-radius: 10px;
}



/*connection links */

#connect
{
  width: 100%;
  display:flex;
  padding-right: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button-div
{
  text-align: center;
}

.lien
{
  width: 50%;
  display: flex;
  justify-content: center;
}

.lien-1
{
  color: #007bff;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lien-2
{
  color: #007bff;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lien-1:hover
{
  text-decoration: none;
}

.lien-2:hover
{
  text-decoration: none;
}



/* username */

#name-container
{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#name
{
  font-size: 2em;
}

/* account link */

#myaccount
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lien-compte
{
  padding-top: 10%;
  padding-bottom: 10%;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #007bff;
  font-size: 10px;
}

#lien-compte:hover
{
  text-decoration: none;
}



/* disconnect button */

#disconnect
{
  display: flex;
  justify-content: center;
}

#door
{
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50%;
  width:30%;
  display:flex;
  justify-content: center;
  align-items: center;
}

#door:hover
{
  box-shadow: 0px 0px 5px #333333;
}

#door-container
{
  width:80%;
  height:80%;
}

#door-container img
{
  width:100%;
  height:100%;
  padding-bottom: 5%;
}